# Extensible memoizing collections and decorators (Code Institute template)
cachetools==4.2.2

# It is a DNS toolkit for Python. (Code Institute template)
dnspython==2.1.0

# Validates that a string is of the form name@example.com.
email-validator==1.1.3

# This library simplifies using Google’s various server-to-server authentication mechanisms to access Google APIs.
google-auth==1.33.1

# This library provides oauthlib integration with google-auth.
google-auth-oauthlib==0.4.4

# Interface for working with Google Sheets.
gspread==3.7.0

#A generic, spec-compliant, thorough implementation of the OAuth request-signing logic for Python 3.6+. (Code Institute template)
oauthlib==3.1.1

# Pure-Python implementation of ASN.1 types and DER/BER/CER codecs (X.208) (Code Institute template)
pyasn1==0.4.8

# A collection of ASN.1 modules expressed in form of pyasn1 classes. (Code Institute template)
pyasn1-modules==0.2.8

#  Provides first-class OAuth library support for Requests. (Code Institute template)
requests-oauthlib==1.3.0

# It supports encryption and decryption, signing and verifying signatures, and key generation according to PKCS#1 (Code Institute template)
rsa==4.7.2
